.text {
  font-size: larger;
}

p,
button,
div {
  font-family: "Courier New", Courier, monospace;
}

button {
  margin: 10px;
}

.choices,
.result,
p,
div,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
